
:root{
    --color-primary: #000;
    --color-primary-hover: #999999;
    --color-primary-white: #fff;
    --font--primary: 'Oswald', sans-serif;
}
h1{
    font-family: var(--font--primary)
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
.section-heading__title{
    font-size: 1.875rem;
}
header >.container{
    display: flex;
    justify-content: space-between;
    padding: 47px 0px;
    border-bottom: 1px solid #ddd;
}
.main-nav__item{
    list-style: none;
    margin-left:  20px;
}
.main-nav__link{
    text-decoration: none;
}
.main-nav__list{
    margin: 0px 20px 0px 0px; padding: 0px;
    display: flex;
}
.main-nav__item:after{
    content: "/";
    display: inline-block;
    margin-left: 5px;
}
ul>li>a:hover{
    color: var(--color-primary-hover);
}
.banner>.container{
 text-align: center;
 border-bottom: 1px solid #ddd;
}
.banner__title{
    font-size: 2.25rem;
}
.banner__desc{
    font-size: 1rem;
    margin-top: 30px;
}
.banner__btn{
    background: var(--color-primary);
    color: var(--color-primary-white);
    padding: 13px 44px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 10px;
    
}
.banner__btn:hover{
    background: var(--color-primary-hover)

}
.row-pro{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}
span{
    
    font-style: italic;
}
.review>.container{
    display: grid;
    grid-template-columns: 1fr;
    
    margin-bottom: 30px;
}
.row{
    display: grid;
    grid-template-columns: 200px 300px;
    
}
.row-pro>.col{
    padding: 30px;
    border: 1px solid #ddd;
}
footer>.container{
    display: flex;
    justify-content: space-between;
    padding: 47px 15px;
    
}


.review>.container>.text-aboutme{
    margin-top: 70px;
}
.col{
    text-align: center;    
}
.review{
    background-color: #ddd;
    padding: 20px;
}
.col-item{
    padding: 0px 0px;
}
.webdesign{
    color: red;
}
.webdesign:after{
    content: "-";
    display: inline-block;
    margin: 5px;
}
.byadmin{
    color: red;

}
.byadmin::before{
    content: "-";
    display: inline-block;
    margin: 5px;
}
.row-icons{
    display: grid;
    grid-template-columns: 40px 40px 40px;
}


@media (width: 375px){
    header{
        background: green;
    }
}
@media(width: 812px){
    header{
        background: red;
    }
}
@media(min-width: 1024px){
    .last-project .row-pro{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px
    }
    .review>.container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        margin-bottom: 30px;
    }
}
